<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8"><title>Top Restaurant</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Top Restaurant</title>
</head>
<body>
    {% include 'includes/header.html' %}

    <main>
        {% for restaurant in restaurants %}
            <section class="outer_section">
                    <img src="{{restaurant.get('image_url')}}" />
                <section class="inner_section">
                    <h2>{{ restaurant.get('name') }}</h2>
                    <p>{{ restaurant.get('display_address') }}</p>
                    <p></p>
                    <p>Price: <b>{{ restaurant.get('price') }}</b></p>
                    <p>Rating: <b>{{ restaurant.get('rating') }}</b></p>
                    <p># Reviews: <b>{{ restaurant.get('review_count') }}</b></p>
                </section>
            </section>
        {% endfor %}
    </main>
</body>
</html>

